/*.bkgimagex {
    background: url("../img/background5.jpg") no-repeat center center fixed; 
    background-size: 100% auto;
}

.bkgimagef {
    background: url("../img/background6.jpg") no-repeat center center fixed; 
    background-size: 100% auto;
}*/

table, tr, td {
   border: 1px solid black;
}

#boardTable  td{
    height: 60px; 
    width: 70px;   
    text-align: center;
}

img{
    height: 60px; 
    width: 70px;
}
    
#boardTable  td{
    
    height: 60px; 
    width: 70px;  
}

#myFighterTable th{
    display :none;  
}

#diary_box{
    height:500px;
    border: 1px solid #000;
    overflow: auto;
      
}
