.bkgimagex {
    background: url("../img/background5.jpg") no-repeat center center fixed; 
    background-size: 100% auto;
    }

.bkgimagef {
    background: url("../img/background6.jpg") no-repeat center center fixed; 
    background-size: 100% auto;
    }