/*.bkgimagex {
    background: url("../img/background5.jpg") no-repeat center center fixed; 
    background-size: 100% auto;
}

.bkgimagef {
    background: url("../img/background6.jpg") no-repeat center center fixed; 
    background-size: 100% auto;
}*/

#boardTable tr,#boardTable td {
   border: 1px solid black;
}

#boardDiv  td{
    height: 60px; 
    width: 70px;   
    text-align: center;
}

img{
    height: 60px; 
    width: 70px;
}
    
#myFighterTable th{
    display :none;  
}

#diary_box{
    height:500px;
    border: 1px solid #000;
    overflow: auto;
      
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 120px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  background-color: #f5f5f5;
}


/* Custom page CSS (fixed height)
-------------------------------------------------- */
.jumbotron-height-fixed
{
    //height: 400px;
    //overflow: auto;
}
